In [2]:
#TASK1 - a
def fact(n):
  if n==0 or n==1:
    return 1
  else:
    return n * fact(n-1)
fact(4)

24

In [13]:
#TASK1 - b
def fib(n):
  if n<=0:
    return 0
  elif n==1:
    return 1

  else:
    return fib(n-1) + fib(n-2)
fib(4)

3

In [49]:
#TASK1 - c
def printA(A, i=0):
    if i==len(A):
        print("")
        return None
    print(A[i])
    printA(A, i+1)

A = [1,2,3,4]
printA(A)

1
2
3
4

In [27]:
#TASK1 - d
def powerN(a, n):
  if n == 0:
    return 1
  else:
    return a * powerN(a, n-1)
powerN(3,2)

9

In [31]:
#TASK2 - a
def deci_to_bin(n):
    if n == 0:
        return "0"
    elif n == 1:
        return "1"
    else:
        return deci_to_bin(n // 2) + str(n % 2)
deci_to_bin(4)

'100'

In [38]:
#TASK2 - b
class Node:
  def __init__(self,elem,next):
    self.elem=elem
    self.next=next
class createLinkedList:
  def __init__(self,a):
    for i in range(len(a)):
      if i==0:
        self.head=Node(a[i],None)
        tail=self.head
      else:
        t=Node(a[i],None)
        tail.next=t
        tail=t
    return None
arr=[1,2,3,4,5]
a=createLinkedList(arr)

def addAll(head):
  if head==None:
    return 0
  else:
    return head.elem+addAll(head.next)
print(addAll(a.head))

15

In [39]:
#TASK2 - c
arr=[10,20,30,40]
b=createLinkedList(arr)

def revPrint(head):
  if head.next==None:
    print(head.elem)
  else:
    revPrint(head.next)
    print(head.elem)
revPrint(b.head)

40
30
20
10

In [41]:
#TASK3
def hocBuilder(height):
  if height==0:
    return 0
  elif height==1:
    return 8+hocBuilder(height-1)
  else:
    return 5+hocBuilder(height-1)

hocBuilder(3)

18

In [42]:
#TASK4 - a
def row(n):
    if n==0:
        return None
    row(n-1)
    print(n, end=" ")


def column(n):
    if n==0:
        return None
    column(n-1)
    row(n)
    print("")

column(5)

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [44]:
#TASK4- b
def row(n):
    if n==0:
        return None
    row(n-1)
    print(n, end=" ")

def printspace(i):
    if i==0:
        return None
    print(" ", end=" ")
    printspace(i-1)

def column(n, number):
    if n==0:
        return None
    column(n-1, number)
    printspace(number-n)
    row(n)
    print("")

n = 5
column(n, n)

        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [45]:
#TASK5
class FinalQ:
    def pnt(self,array,idx):
        if idx < len(array):
            profit = self.calcProfit(array[idx])
            print("{}.Investment:{};Profit:{}".format(idx+1,array[idx],self.calcProfit(array[idx])))
            self.pnt(array,idx+1)


    def calcProfit(self, investment):
        if investment==25000:
            return 00.00
        else:
            if investment<=100000:
                return self.calcProfit(investment-1000)+45.00
            else:
                return self.calcProfit(investment-1000)+80.00


array = [25000,100000,250000,350000]
f = FinalQ()
f.pnt(array, 0)

1.Investment:25000;Profit:0.0
2.Investment:100000;Profit:3375.0
3.Investment:250000;Profit:15375.0
4.Investment:350000;Profit:23375.0

In [50]:
## Must finish Task


def flattenList(given_list, output_list):

  if len(given_list) == 0:
    return output_list

  if isinstance(given_list[0], list):
    flattenList(given_list[0], output_list)

  else:
    output_list.append(given_list[0])


  return flattenList(given_list[1:], output_list)


given_list = [1, [2, [3, [4], 5], 6], 7, 8, [9, [[10, 11], 12], 13], 14, [15, [16, [17]]]]
output_list = flattenList(given_list, [])
print(output_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]